<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{todoData?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="ion-padding">
    <ion-card-header class="ion-text-start">
      <ion-card-subtitle>
        {{ todoData?.completed ? 'Completed' : 'Pending' }}
      </ion-card-subtitle>
      <ion-card-title>Title: {{todoData?.title}}</ion-card-title>
      <ion-card-title>User Id: {{todoData?.userId}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
