<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="i-padding-top" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Task Form</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="addTodoForm">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">ID</ion-label>
          <ion-input type="number" formControlName="id"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">User ID</ion-label>
          <ion-input type="number" formControlName="userId"></ion-input>
        </ion-item>

        <ion-button
          expand="full"
          (click)="addTodo()"
          type="submit"
          [disabled]="addTodoForm.invalid"
          >Submit</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        @for (todo of todoList().slice(-2); track todo.id) {
        <ion-col size="4">
          <ion-card class="ion-padding">
            <ion-card-header class="ion-text-start">
              <ion-card-subtitle>
                {{ todo.completed ? 'Completed' : 'Pending' }}
              </ion-card-subtitle>
              <ion-card-title>{{ todo.title }}</ion-card-title>
            </ion-card-header>

            <ion-button fill="clear">Update</ion-button>
            <ion-button fill="clear" (click)="deleteTodo(todo.id)"
              >Delete</ion-button
            >
          </ion-card>
        </ion-col>
        }
        <ion-infinite-scroll (ionInfinite)="loadMore($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
